body {
    font-family: 'Arial', sans-serif;
    background-color: #df178c;
}

.navbar {
    box-shadow: 0 2px 4px rgba(19, 184, 134, 0.1);
}

.card {
    border-radius: 10px;
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

.btn-primary {
    background-color: #af148e;
    border-color: #91ff00;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #b35f00;
    border-color: #0056b3;
}

.alert {
    border-radius: 8px;
}

.progress {
    height: 20px;
    border-radius: 10px;
}

.list-group-item {
    border-radius: 8px;
    margin-bottom: 5px;
}

.form-control, .form-select {
    border-radius: 8px;
}

.container {
    max-width: 800px; 
}